body{
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  background: rgb(245,6,111);
background: radial-gradient(circle, rgba(245,6,111,1) 0%, rgba(244,239,244,1) 100%);
}
header{
  color:white;
  text-align: center;
  margin-top: 3em;
}
header h1{
  font-size: 50px;
  text-align: center;
}

.MuiPaper-root{
  background-color: initial !important;
}
.MuiPaper-elevation1 {
   box-shadow: initial !important;
}

.todo{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 1em; 

}
.check-btn{
  color: rgb(41, 129, 113) !important;
  
}
.trash-btn,.check-btn{
  height: 40px;
}
.trash-btn{
  color: rgb(122, 8, 117) !important;
  
}

.todo-item{
  color: rgb(122, 8, 117)  !important;
background-color: aliceblue;
font-size: 25px;
height: 32px;
width: 200px;
padding-left: 0.5em;
}

.list-icon-section{
text-align: center;
color:#fdf9fd !important;
font-size: 40px;
opacity: 0.3;
}
.MuiFormLabel-root {
color:white !important;
}

.completed{
  text-decoration: line-through;
  color: rgb(41, 129, 113) !important;
}

.todo-button ,.filter-todo{
  color:#802580 !important;
  height: 46px;
  background-color: rgb(250, 245, 245) !important;
  margin-bottom: 1em;
  font-weight: 800;
}
.MuiButton-label {
font-size: 20px;
}

.todo-input{
  padding-left: 0.5em;
  color:rgb(221, 146, 17);
  font-size: 25px;
  margin-bottom: 1em !important;

}
.MuiInputBase-input{
  color: white !important;
  text-transform: uppercase;
}
.filter-todo{
  border-radius: 0.15em;
  font-size: 15px;
  min-width: 200px;
  padding-left: 0.5em;

}

.filter-todo,.todo-button ,.filter-todo,.todo-input,.trash-btn,.check-btn
{
  outline: none;
  border: none;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  
}


