.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
header{
  color:white;
  text-align: center;
  margin-top: 3em;
}
header h1{
  font-size: 50px;
}

form{
  margin:2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 1em; 

}
.check-btn{
  color:white;
  height: 32px;
  background-color: green;
  outline: none;
  border: none;
  font-size: 30px;
}

.trash-btn{
  color:white;
  height: 32px;
  background-color: red;
  outline: none;
  border: none;
  font-size: 30px;
}

.todo-item{
color: black;
background-color: aliceblue;
font-size: 30px;
height: 30px;
width: 200px;
padding: 2px;
}
.completed{
  text-decoration: line-through;
  color: green;
}

.todo-input{
  height: 30px;
  outline: none;
  border: none;
}

.todo-button ,.filter-todo {
  color:orange;
  height: 32px;
  background-color: papayawhip;
  outline: none;
  border: none;
  font-size: 30px;
  font-weight: bold;
}

.filter-todo{
  margin-left: 2em;
  color:orange;
  height: 30px;
  background-color: papayawhip;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
