/* .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  
} */
body{
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
header{
  color:white;
  text-align: center;
  margin-top: 3em;
}
header h1{
  font-size: 50px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


.todo{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 1em; 

}
.check-btn{
  background-color: green;
  
}
.trash-btn,.check-btn{
  color:white;
  height: 34px;
  font-size: 30px;
}
.trash-btn{
  background-color: red;
  
}

.todo-item{
color: black;
background-color: aliceblue;
font-size: 25px;
height: 32px;
width: 200px;
padding-left: 0.5em;
}

.completed{
  text-decoration: line-through;
  color: green;
}

.todo-button ,.filter-todo{
  color:orange;
  height: 34px;
  background-color: papayawhip;
  font-size: 30px;
}
.todo-input{
  padding-left: 0.5em;
  color:rgb(63, 45, 13);
  height: 32px;
  background-color: papayawhip;
  font-size: 25px;
}
.filter-todo{
  margin-left: 2em;
}

.filter-todo,.todo-button ,.filter-todo,.todo-input,.trash-btn,.check-btn
{
  outline: none;
  border: none;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  
}


